<div class="d-flex align-content-center align-items-center min-vh-100">
  <div class="container">

    <div class="row">
      <div class="col-md-4 col-sm-3"></div>
      <div class="col-md-4 col-sm-6">
        <div class="card shadow-lg">
          <div class="card-body">
            <h5 class="card-title fw-bolder">Coio</h5>
            <h6 class="card-subtitle mb-2 text-muted">noun</h6>
            <div class="card-text my-5">
              <p class="fs-5" style="margin-left: 1rem">
                Lair of scoundrels or ruffians.
              </p>
            </div>
            <p class="card-footer bg-white text-end fs-6">coio.dev</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>